@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.product_top_nav {
  font-family: "Dongle", sans-serif;
  display: flex;
  gap: 1rem;
  margin: 5px auto;
  width: 850px;
  height: 40px;
  align-items: center;
}
